* {
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif, 'Courier';
    --header-color: #C0353C;
    --body-color: #DC9C93;
    --faint-pink: #DE7D7D;
    --text-main-color: #ffffff;
    --button-color: #D41A23;
    --seperator-color: #DD6969;
    --footer-color: #DA5552;
}


body {
    background-color: var(--body-color);
    color: var(--text-main-color);
}

header {
    background-color: var(--header-color);
    height: 8vh;
}

.container {
    width: 95%;
    margin: auto;
}
.button-main {
    background-color:var(--button-color);
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.button-rounded {
    border-radius: 0.25em;
}

.button-shadowed {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.25);
}

.seperator {
    /* width: 100vw; */
    background-color: var(--seperator-color);
    height: 5vh;
    margin: 3rem 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}


footer {
    margin-top: 5rem;
    height: 10vh;
    background-color: var(--footer-color);
}
